*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: #864332;
}

.button {
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: #04AA6D; /* Green */
    color: white;
}

.button2 {
    transition-duration: 0.4s;
  }
  
  .button2:hover {
    background-color: #04AA6D; /* Green */
    color: white;
}

.button3 {
    transition-duration: 0.4s;
  }
  
  .button3:hover {
    background-color: #04AA6D; /* Green */
    color: white;
}

.button4 {
    transition-duration: 0.4s;
  }
  
  .button4:hover {
    background-color: #04AA6D; /* Green */
    color: white;
}

#frescura1{
    width: 300px;
    height: 150px;
    background-color: #e09f89;
    float: left;
}

#frescura2{
    
    width: 300px;
    height: 150px;
    background-color: #e09f89;
    float: left;
    text-align: center;
    
}

.button4{
    margin: 25px;
    width: 250px;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    text-align: center;
}

#cabecalho{
    width: 919px;
    margin: 0 auto;
    background-color: #ffc0a9;
    text-align: center;
    height: 150px;
    border-radius: 0px;
    float: left;
}

#menu{
    width: 300px;
    height: 650px;
    background-color: #e09f89;
    float: left;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 0px;
}

#conteudo{
    height: 630px;
    width: 909px;
    background-color: #e09f89;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#lado{
    height: 650px;
    width: 300px;
    background-color: #e09f89;
    float: left;
    margin-left: 5px;
    margin-top: 0px;
    margin-block-end: 0px;
    border-radius: 0px;
}

#rodape{
    height:100px;
    /*width: 300px;*/
    margin-left: 20px;
    background-color: #713021;
    clear: both;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: px;
    margin-left: 0px;
}

.button{
    background-color: #e49883; /* Green */
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.button2{
    background-color: #e49883; /* Green */
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 5px;
}

.button3{
    background-color: #e49883; /* Green */
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 5px;
}

.img-container{
    width: 300px;
    height: 200px;
    overflow: hidden;
    border: 3px solid #000;
 }
 
 .img-container img{
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
 }
 
 .img-container:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
 }